# Creating a series

In [3]:
import pandas as pd
import numpy as np

# creating empty series 
ser = pd.Series()
print(ser)
#simple array
data = np.array(['g','e','e','k','s'])
ser = pd.Series(data)
print(ser)

Series([], dtype: object)
0    g
1    e
2    e
3    k
4    s
dtype: object

# Creating a series from lists

In [4]:
import pandas as pd 
# a simple list
list = ['g,','e','e','k','s']
# create series from a list
ser = pd.Series(list)
print(ser)

0    g,
1     e
2     e
3     k
4     s
dtype: object

# Pandas indexes

In [6]:
import pandas as pd
data = pd.read_csv("airlines.csv")
print(data.describe())
#data

        Time.Month    Time.Year  Statistics.# of Delays.Carrier  \
count  4408.000000  4408.000000                     4408.000000
mean      6.578947  2009.243421                      574.632486
std       3.457890     3.667475                      329.616475
min       1.000000  2003.000000                      112.000000
25%       4.000000  2006.000000                      358.000000
50%       7.000000  2009.000000                      476.000000
75%      10.000000  2012.000000                      692.000000
max      12.000000  2016.000000                     3087.000000

       Statistics.# of Delays.Late Aircraft  \
count                           4408.000000
mean                             789.078947
std                              561.798420
min                               86.000000
25%                              425.000000
50%                              618.500000
75%                              959.000000
max                             4483.000000

       Statistics.# of Delays.National Aviation System  \
count                                      4408.000000
mean                                        954.580309
std                                         921.907801
min                                          61.000000
25%                                         399.000000
50%                                         667.500000
75%                                        1166.000000
max                                        9066.000000

       Statistics.# of Delays.Security  Statistics.# of Delays.Weather  \
count                      4408.000000                     4408.000000
mean                          5.575544                       78.216878
std                           6.007046                       75.181726
min                          -1.000000                        1.000000
25%                           2.000000                       33.000000
50%                           4.000000                       58.000000
75%                           7.000000                       98.000000
max                          94.000000                      812.000000

       Statistics.Carriers.Total  Statistics.Flights.Cancelled  \
count                4408.000000                   4408.000000
mean                   12.253403                    213.558076
std                     2.289861                    288.873477
min                     3.000000                      3.000000
25%                    11.000000                     58.000000
50%                    12.000000                    123.000000
75%                    14.000000                    250.000000
max                    18.000000                   3680.000000

       Statistics.Flights.Delayed  Statistics.Flights.Diverted  \
count                 4408.000000                  4408.000000
mean                  2402.000454                    27.880898
std                   1710.947613                    36.356399
min                    283.000000                     0.000000
25%                   1298.750000                     8.000000
50%                   1899.000000                    15.000000
75%                   2950.000000                    32.000000
max                  13699.000000                   442.000000

       Statistics.Flights.On Time  Statistics.Flights.Total  \
count                 4408.000000               4408.000000
mean                  9254.420826              11897.860254
std                   5337.214211               6861.691876
min                   2003.000000               2533.000000
25%                   5708.750000               7400.000000
50%                   7477.000000               9739.500000
75%                  10991.500000              13842.500000
max                  31468.000000              38241.000000

       Statistics.Minutes Delayed.Carrier  \
count                         4408.000000
mean                         35021.369782
std                          24327.721037
min                           6016.000000
25%                          19530.750000
50%                          27782.000000
75%                          41606.000000
max                         220796.000000

       Statistics.Minutes Delayed.Late Aircraft  \
count                               4408.000000
mean                               49410.274955
std                                38750.017050
min                                 5121.000000
25%                                25084.250000
50%                                37483.000000
75%                                59951.250000
max                               345456.000000

       Statistics.Minutes Delayed.National Aviation System  \
count                                        4408.000000
mean                                        45077.107985
std                                         57636.745683
min                                          2183.000000
25%                                         14389.000000
50%                                         25762.000000
75%                                         50362.000000
max                                        602479.000000

       Statistics.Minutes Delayed.Security  Statistics.Minutes Delayed.Total  \
count                          4408.000000                       4408.000000
mean                            211.769737                     135997.535163
std                             257.174789                     113972.276370
min                               0.000000                      14752.000000
25%                              65.000000                      65444.750000
50%                             141.000000                     100711.000000
75%                             274.000000                     164294.750000
max                            4949.000000                     989367.000000

       Statistics.Minutes Delayed.Weather
count                         4408.000000
mean                          6276.982759
std                           6477.417169
min                             46.000000
25%                           2310.750000
50%                           4298.500000
75%                           7846.000000
max                          76770.000000

# Pandas DataFrames

In [7]:
lst = ['geeks','for','Geeks','is','portal','for','geeks']
df = pd.DataFrame(lst)
print(df)

        0
0   geeks
1     for
2   Geeks
3      is
4  portal
5     for
6   geeks

In [10]:
# dataFrames from dict narray

import pandas as pd
data = {'Name': ['tom','nick','krish','jack'], 'Age':['20','30','25','31']}
df = pd.DataFrame(data)
print(df)

    Name Age
0    tom  20
1   nick  30
2  krish  25
3   jack  31

# Reindexing

In [9]:
import pandas as pd
info = pd.DataFrame({"P":[4,7,1,8,9],
                    "Q":[40,70,10,80,90],
                    "R":[41,72,13,84,95],
                    "S":[42,73,14,85,96]},
                     index =["Parker","William","Smith","Carry","Ajay"])

info

         P   Q   R   S
Parker   4  40  41  42
William  7  70  72  73
Smith    1  10  13  14
Carry    8  80  84  85
Ajay     9  90  95  96

In [10]:
#reindexing with new index value
info.reindex(["A","B","C","D","E"])

    P   Q   R   S
A NaN NaN NaN NaN
B NaN NaN NaN NaN
C NaN NaN NaN NaN
D NaN NaN NaN NaN
E NaN NaN NaN NaN

In [11]:
# filling the missing value by 100
info.reindex(["A","B","C","D","E"], fill_value=100)

     P    Q    R    S
A  100  100  100  100
B  100  100  100  100
C  100  100  100  100
D  100  100  100  100
E  100  100  100  100

# Pandas Sort

### Two types
##### 1.By label     
##### 2.By Actual value

In [15]:
import pandas as pd 
import numpy as np
unsorted_df = pd.DataFrame(np.random.randn (10,2), index= [1,4,5,6,3,8,9,2,4,3], columns =["col2", "col1"])
print(unsorted_df)
sorted_df = unsorted_df.sort_index()
print(sorted_df)

       col2      col1
1  1.016648  0.674030
4 -0.912728  0.378890
5  2.160008 -0.130038
6 -0.797661  0.648592
3  1.250692 -0.375828
8 -1.537929 -0.500841
9 -1.723689  0.118134
2 -2.315266  0.687882
4 -0.550265  0.292000
3  0.520841  0.448812
       col2      col1
1  1.016648  0.674030
2 -2.315266  0.687882
3  1.250692 -0.375828
3  0.520841  0.448812
4 -0.912728  0.378890
4 -0.550265  0.292000
5  2.160008 -0.130038
6 -0.797661  0.648592
8 -1.537929 -0.500841
9 -1.723689  0.118134

# Order in sorting

In [16]:
import pandas as pd 
import numpy as np
unsorted_df = pd.DataFrame(np.random.randn (10,2), index= [1,4,5,6,3,8,9,2,4,3], columns =['col2', 'col1'])
print (unsorted_df)
sorted_df = unsorted_df.sort_index(ascending=False)
print(sorted_df)

       col2      col1
1  0.594648 -1.036745
4 -0.195132  1.291323
5 -2.108874 -0.354591
6 -0.850459 -1.210174
3 -0.501689 -0.802030
8 -0.633128 -0.226414
9 -0.680224 -2.189084
2  0.596502  0.035327
4 -1.341594 -1.112571
3  0.046663 -1.600433
       col2      col1
9 -0.680224 -2.189084
8 -0.633128 -0.226414
6 -0.850459 -1.210174
5 -2.108874 -0.354591
4 -0.195132  1.291323
4 -1.341594 -1.112571
3 -0.501689 -0.802030
3  0.046663 -1.600433
2  0.596502  0.035327
1  0.594648 -1.036745

# Sort the Columns

In [17]:
import pandas as pd 
import numpy as np
unsorted_df = pd.DataFrame(np.random.randn (10,2), index= [1,4,5,6,3,8,9,2,4,3], columns =["col2", "col1"])
print(unsorted_df)
sorted_df = unsorted_df.sort_index(axis=1)
print(sorted_df)

       col2      col1
1  0.182497  0.727430
4  0.915109 -1.550145
5 -0.049425  0.395333
6  0.108975 -0.555368
3 -0.966425  1.070826
8 -1.224493 -0.441292
9  0.668582 -1.810378
2 -1.379505  1.454151
4 -0.500698  0.138363
3  1.075872 -0.660447
       col1      col2
1  0.727430  0.182497
4 -1.550145  0.915109
5  0.395333 -0.049425
6 -0.555368  0.108975
3  1.070826 -0.966425
8 -0.441292 -1.224493
9 -1.810378  0.668582
2  1.454151 -1.379505
4  0.138363 -0.500698
3 -0.660447  1.075872

# By Value

In [19]:
import pandas as pd
import numpy as np
unsorted_df = pd.DataFrame({'col1': [2,1,1,1], 'col2': [1,3,2,4]}) 
sorted_df = unsorted_df.sort_values (by='col1')
print (sorted_df)

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

# Working with Text Data

In [22]:
# lower()
import pandas as pd
import numpy as np
s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234', 'SteveSmith'])
print (s. str.lower())

0             tom
1    william rick
2            john
3         alber@t
4             NaN
5            1234
6      stevesmith
dtype: object

In [21]:
# upper()
import pandas as pd
import numpy as np
s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234', 'SteveSmith'])
print (s. str.upper())

0             TOM
1    WILLIAM RICK
2            JOHN
3         ALBER@T
4             NaN
5            1234
6      STEVESMITH
dtype: object

# Statistical Function

In [23]:
# pandas Sum()

import pandas as pd
# Dataset
data = {
'Maths' :[90, 85, 98, 80, 55, 78],
'Science': [92, 87, 59, 64, 87, 96], 'English': [95, 94, 84, 75, 67, 65]
}
# DataFrame
df = pd.DataFrame(data)
# Display the DataFrame 
print("DataFrame = \n",df)
# Display the Sum of Marks in each column 
print("\nSum = \n",df.sum())

DataFrame =
    Maths  Science  English
0     90       92       95
1     85       87       94
2     98       59       84
3     80       64       75
4     55       87       67
5     78       96       65

Sum =
 Maths      486
Science    485
English    480
dtype: int64

In [24]:
# Pandas count()

import pandas as pd
# Dataset
data = {
'Maths': [90, 85, 98, None, 55, 78],
'Science': [92, 87, 59, None, None, 96],
'English': [95, None, 84, 75, 67, None]
}
# DataFrame
df = pd.DataFrame(data)
# Display the DataFrame 
print("DataFrame = \n", df)
# Display the Count of non-empty values in each column 
print("\nCount of non-empty values = \n", df.count())

DataFrame =
    Maths  Science  English
0   90.0     92.0     95.0
1   85.0     87.0      NaN
2   98.0     59.0     84.0
3    NaN      NaN     75.0
4   55.0      NaN     67.0
5   78.0     96.0      NaN

Count of non-empty values =
 Maths      5
Science    4
English    4
dtype: int64

In [25]:
#pandas max()


import pandas as pd
# Dataset
data = { 'Maths': [90, 85, 98, 80, 55, 78],
'Science': [92, 87, 59, 64, 87, 96],
'English': [95, 94, 84, 75, 67, 65]
}
#DataFrame
df = pd.DataFrame(data)
# Display the DataFrame 
print("DataFrame = \n",df)
# Display the Maximum of Marks in each column 
print("\nMaximum Marks = \n", df.max())

DataFrame =
    Maths  Science  English
0     90       92       95
1     85       87       94
2     98       59       84
3     80       64       75
4     55       87       67
5     78       96       65

Maximum Marks =
 Maths      98
Science    96
English    95
dtype: int64

In [26]:
# pandas min()

import pandas as pd
# Dataset
data = {
'Maths' : [90, 85, 98, 80, 55, 78], 'Science': [92, 87, 59, 64, 87, 96], 'English': [95, 94, 84, 75, 67, 65]
}
# DataFrame
df = pd.DataFrame(data)
# Display the DataFrame
print("DataFrame = \n", df)
# Display the Minimum of Marks in each column 
print("\nMinimum Marks = \n", df.min())

DataFrame =
    Maths  Science  English
0     90       92       95
1     85       87       94
2     98       59       84
3     80       64       75
4     55       87       67
5     78       96       65

Minimum Marks =
 Maths      55
Science    59
English    65
dtype: int64

In [27]:
# pandas median()

import pandas as pd
# Dataset
data = {
'Maths': [90, 85, 98, 80, 55, 78],
'Science': [92, 87, 59, 64, 87, 96], 'English': [95, 94, 84, 75, 67, 65]
}
# DataFrame
df = pd.DataFrame(data)
# Display the DataFrame
print("DataFrame = \n", df)
# Display the Median of Marks in each column 
print("\nMedian = \n",df.median())

DataFrame =
    Maths  Science  English
0     90       92       95
1     85       87       94
2     98       59       84
3     80       64       75
4     55       87       67
5     78       96       65

Median =
 Maths      82.5
Science    87.0
English    79.5
dtype: float64

# Indexing and selecting data

### indexing a data frame using indexing operator []

In [28]:
# importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba.csv", index_col ="Name")

# retrieving columns by indexing operator
first = data["Age"]

print(first)

Name
Avery Bradley    25.0
Jae Crowder      25.0
John Holland     27.0
R.J. Hunter      22.0
Jonas Jerebko    29.0
                 ...
Shelvin Mack     26.0
Raul Neto        24.0
Tibor Pleiss     26.0
Jeff Withey      26.0
NaN               NaN
Name: Age, Length: 458, dtype: float64

# Indexing a DataFrame using .loc[]

In [29]:
# importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba.csv", index_col ="Name")

# retrieving row by loc method
first = data.loc["Avery Bradley"]
second = data.loc["R.J. Hunter"]

print(first, "\n\n\n", second)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object


 Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object